// Color Variables

$primary: #000000;
$secondary: #d4af37;
$info: #2f4ba1;
$success: #a39191;

@import "../../node_modules/bootstrap/scss/bootstrap";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Comfortaa:wght@300;400&family=Hedvig+Letters+Sans&family=Playfair+Display:ital@0;1&family=Raleway:wght@100;400&family=Red+Rose:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100;400&display=swap");

.brand-name {
  font-family: "Playfair Display", serif;
}

.sortAuctions {
  border-style: solid;
  border-color: #d4af37;
  font-size: 22px;
  font-weight: bolder;
  padding: 10px;
}

.sortAuctions option {
  border-style: solid;
  border-color: #d4af37;
}

.sortAuctions option:checked {
  border-style: solid;
  border-color: #d4af37;
}

body {
  font-family: "Raleway", sans-serif;
}

//navigation
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28224, 180, 65, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

// Index //

//Carousel
.carousel-item img {
  height: 600px;
  object-fit: cover;
}
.carousel-control-prev .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E0B441' width='50' height='50'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' stroke='%23E0B441' stroke-width='2'/%3e%3c/svg%3e");
}

.carousel-control-next .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E0B441' width='50' height='50'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z' stroke='%23E0B441' stroke-width='2'/%3e%3c/svg%3e");
}

.carousel-caption h2 {
  display: inline-flex;
  padding: 10px;
  margin-bottom: 10px;
}

//Loginbox
.masthead {
  position: relative;
  height: 500px;
}

.masthead::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/Masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

// Register //

.register-img {
  height: 600px;
  background-image: url(/images/register.mastehead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wider-border {
  width: 130px;
  border-style: solid;
  border-color: #d4af37;
  border-top: none;
  border-left: none;
  border-right: none;
}

// About //

.about-bg {
  position: relative;
}

.about-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/about.background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.5;
  z-index: -1;
}

// Contact //

.contact-bg {
  position: relative;
  height: 700px;
}

.contact-bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/contact.background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.margin-unset {
  margin: unset;
}

// Profile //

.tab-link.active {
  color: #2f4ba1;
  font-weight: bolder;
}

.tab-link:not(.active) {
  font-weight: light;
  font-style: oblique;
  color: #000000;
}

//Auction-Specific //

.masthead-auction {
  position: relative;
  // height: 500px;
}

.masthead-auction::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(/images/Masthead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}
