// Color Variables
$primary: #000000;
$secondary: #e0b441;
$info: #2f4ba1;
$success: #a39191;

@import "../../node_modules/bootstrap/scss/bootstrap";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Comfortaa:wght@300;400&family=Raleway:wght@100;400&display=swap");

body {
  font-family: "ADLaM Display", cursive;
  font-family: "Raleway", sans-serif;
}
